<!DOCTYPE html>
<html >
<head>
    <title>Document</title>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
</head>
<body>
    <img src="D:/Download/prasadimg.png" alt="all" >
    <table width="100">
      <tr>
        <th>
            Rollno
        </th>
        <th>
            student
        </th>
        <th>
            marks
        </th>
      </tr>
      <tr>
        <td>
            1
      </td>
      <td>
        keerthana
      </td>
      <td>
        10
      </td>
      </tr>
      <tr>
        <td>
            1
      </td>
      <td>
        keerthana
      </td>
      <td>
        10
      </td>
      </tr><tr>
        <td>
            1
      </td>
      <td>
        keerthana
      </td>
      <td>
        10
      </td>
      </tr>
    
    </table>
</body>
</html>