body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: Tahoma, sans-serif;
}

.space {
  margin-top: 2.8cm;
}

/*start of navigation*/
.navbar {
  background-color: rgb(18, 17, 17);
}

#font {
  color: rgb(213, 213, 152);
  font-family: "Audiowide", sans-serif;
}


.navbar-toggler[aria-expanded="true"] {
  background-color: rgb(21, 21, 21);
}
.contact{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}




.navbar ul li {
  margin: 1px 10px;
}

.bar {
 color: rgb(236, 244, 244);
  padding: 10px;
  text-align: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bar:hover {
  color: #d9d56a;
  
  text-decoration: none;
}
.toggle-button {
  display: block;
  margin: 20px auto;
  background-color: #007bff; /* Background color for the toggle button */
  color: #fff; /* Text color for the toggle button */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners for the button */
  padding: 10px 20px; /* Padding inside the button */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.toggle-button:hover {
  background-color: #0056b3; /* Background color on hover */
}


/*end of navigation*/
.h1-primary {
  height: 150px;
 
  font-size: 2.8rem;
  padding-top: 100px;
  padding-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

hr {
  border-width: 3px;
}

.cardlist {
  box-shadow: 10px 10px 5px rgb(44, 46, 46);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 0 10px #ccc;
  transform: translateY(-5px);
}

.h {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.8rem;
}


.accordion:hover#faq {
  color: rgb(162, 255, 0);
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  max-width: 400px;
}

.popup-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.popup-content {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.popup-button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.popup-button:hover {
  background: #0056b3;
}

